.singleProduct{
    background-color: #7d7b7a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    transition: all .5s;
}

.singleProduct:hover{
    background-color: #be7e5e;
}

@media (max-width: 1000px){
    .singleProduct{
        width: 80%;
    }
}