.campaignButton{
    text-decoration: none;
    width: 80%;
    background-color: #257379;
    color: #ffffff;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.campaignButton:hover{
    background-color: #2a9299;
}