#content{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#centered{
    width: 80%;
    margin: 20px 0;
    background-color: #4a4b4d;
}

#title{
    padding: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleElement{
    padding: 10px;
}

.linkButton{
    padding: 10px;
    height: 80%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #257379;
    border-radius: 20px;
    color: #ffffff;
    transition: all 1s;
}

.linkButton:hover{
    background-color: #2a9299;
}

.singleCampaign{
    display: flex;
    width: 100%;
    height: 70px;
    border-top: 1px solid black;
    box-sizing: border-box;
}

.headers{
    font-weight: bold;
}

.campaignField{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.specialField{
    flex: 2;
}

@media (max-width: 900px){
    .hide{
        display: none;
    }
}

@media (max-width: 600px){
    #centered{
        width: 90%;
    }

    #title{
        flex-direction: column;
    }
}